.navbar {
  padding: 1.2rem 0 !important;
  /* box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45); */
  box-shadow: 0px 4px 8px 0px RGB(0 0 0/5%);
  background-color: var(--white);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex: none;
  }
}

.navbar-brand, .navbar-brand:hover {
  font-weight: bold;
  text-decoration: none !important;
}

.navbar-brand img {
  width: 105px;
  height: 100%;
  transform: scale(1.5);
  margin-left: 2rem;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
  outline: none;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-link:hover, .nav-link:focus {
  /* color: var(--primary-red);
  text-underline-position: under;
  text-decoration: underline wavy var(--primary-red); */
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-red);
}

.nav-link.disabled {
  color: var(--gray);
  pointer-events: none;
  cursor: default;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.plr {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

@media all and (max-width: 990px) {
  .navbar-nav {
    border-top: 1px solid lightgray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .navbar-nav .nav-item {
    padding: 0rem !important;
    margin: 0.3rem 0;
  }

  .navbar-nav .nav-link, .nav-link {
    transition: .5s;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-nav .nav-link:focus, .nav-link:hover {
    transition: .5s;
    background-color: var(--primary-red);
    border-radius: 5px;
    color: var(--white) !important;
  }

  .dropdown-menu {
    width: 100%;
  }
}

/* ============ only desktop view ============ */
@media all and (min-width: 991px) {
  .plr {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    margin-top: 0;
  }

  .navbar .nav-item:hover .nav-link {
    color: var(--primary-red);
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: .5s;
    opacity: 1;
    visibility: visible;
    top: 148%;
    transform: rotateX(0deg);
  }

  .navbar-light .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: var(--primary-red);
    transition: width .3s;
    position: relative;
    top: 26px;
  }

  .navbar-light .navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
  }
}

/* ============ desktop view .end// ============ */


.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border: none !important;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  /* padding: 0.5rem 0;
  margin: 0.125rem 0 0; */
  font-size: 1rem;
  color: #686A6F;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 6px 10px 0px RGB(0 0 0/7%);
  border-radius: 0.25rem;
  margin-top: -0.2rem !important;
  padding: 0;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1180px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.75rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-top: 1px solid #e9ecef;
  transition: 0.3s;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--primary-red);
  text-decoration: none;
  color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--primary-red);
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

.book-free-consultation-btn {
  position: relative;
  padding: 15px 22px;
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary-red);
  transition: all 0.2s ease;
}

.book-free-consultation-btn:active {
  transform: scale(0.96);
}

.book-free-consultation-btn:before,
.book-free-consultation-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.book-free-consultation-btn:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--primary-red) 20%, transparent 30%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--primary-red) 15%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.book-free-consultation-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--primary-red) 15%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%),
    radial-gradient(circle, var(--primary-red) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
